{:paths ["src" "resources"]
 :deps
 {djblue/portal {:mvn/version "0.61.0"}
  com.taoensso/timbre {:mvn/version "6.5.0"}
  org.mentat/emmy-viewers {:mvn/version "0.3.1"}
  io.github.djblue/tetris
  {:git/url "https://github.com/djblue/tetris.git"
   :git/sha "d40ae6b96f918ab7bb7f09ac071f77ca086e8b7f"}
  io.github.djblue/portal-slides
  {;; :local/root "../portal-slides"
   :git/url "https://github.com/djblue/portal-slides.git"
   :git/sha "dc437194411b9a20d1128a7d72c8725d653e14e3"}
  io.github.djblue/satisfactory-planner
  {:git/url "https://github.com/djblue/satisfactory-planner.git"
   :git/sha "50b8971edd164fa49607cebc47eba2d0d1a4123f"}}
 :aliases
 {:cljs
  {:extra-deps
   {org.clojure/clojurescript {:mvn/version "1.11.132"}
    lambdaisland/deep-diff2   {:mvn/version "2.11.216"}
    org.babashka/sci          {:mvn/version "0.8.43"}
    reagent/reagent           {:mvn/version "1.2.0"}
    io.github.babashka/sci.configs
    {:git/url "https://github.com/babashka/sci.configs"
     :git/sha "b87302d5569852ce4410271d089bc4cc3da7050a"}}}
  :workflows
  {:exec-fn portal-slides.core/open
   :exec-args {:file "portal-workflows.md"
               :reset-tap-env true}}
  :thinking-with-portal
  {:exec-fn portal-slides.core/open
   :exec-args {:launcher :vs-code
               :file "thinking-with-portal.md"
               :theme :portal.user/surprising-blueberry}}}}

